body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.08em;
}
#reg{
    background-color: blueviolet;
    width: 300px;
    height: 60px;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: .4s;
}
#reg:hover{
    box-shadow: 2px 2px 2px 2px blueviolet ;
    border-radius: 12%;
    scale: 1.02;
}